[Desktop Entry]
Comment=
Exec=/home/mckyla/start-itgmania.sh
GenericName=
Icon=/opt/itgmania/_assets/logo.svg
MimeType=
Name=ITGmania
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
