[Desktop Entry]
Type=Application
Version=1.0
Name=ITGmania
Exec=/home/mckyla/start-itgmania.sh
Terminal=true
Icon=/opt/itgmania/icons/hicolor/256x256/apps/itgmania-ssc.png
