[Desktop Entry]
Comment=
Exec=/home/mckyla/unmountnas.sh
GenericName=
Icon=devilutionx
MimeType=
Name=Unmounttaa NAS
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
