## MAIN BUILD

- name: Install ITGmania build dependencies
  apt:
    package: libasound2-dev,libgl-dev,libglu1-mesa-dev,libgtk-3-dev,libjack-dev,libmad0-dev,libpulse-dev,libudev-dev,libxinerama-dev,libx11-dev,libxrandr-dev,libxtst-dev,nasm,cmake,build-essential,git

- name: Fetch ITGmania source
  git:
    repo: https://github.com/rhythm-games-tampere/itgmania
    dest: /opt/itgmania
    version: stable
    recursive: yes
  register: source
  diff: false

# Minimaid is disabled because the bundled libmmmagic static library is x86-only,
# which breaks arm64 builds. We don't use Minimaid hardware anyway (LightsDriver="").
# Upstream ITGmania replaced libmmmagic with hidapi in PR #946 (merged to beta Aug 2025).
# TODO: Once our fork merges upstream beta (which includes PR #946), this flag can be removed.
- name: Run CMake
  shell: cmake -B Build -DWITH_FFMPEG_JOBS=$(nproc) -DWITH_MINIMAID=OFF
  args:
    chdir: /opt/itgmania
  when: source.changed

- name: Compile ITGmania
  shell: cmake --build Build --parallel $(nproc)
  args:
    chdir: /opt/itgmania
  when: source.changed

## THEME AND CONFIGURATION

- name: Make sure content directory exists
  file:
    path: /home/mckyla/stepmania-content
    state: directory
    owner: mckyla
    group: mckyla
    recurse: yes

- name: Get Simply Love
  git:
    repo: https://github.com/rhythm-games-tampere/simplylove
    dest: /home/mckyla/stepmania-content/Themes/simplylove
    version: stable-mckyla
  become_user: mckyla
  diff: false

- name: Make sure Save directory exists
  file:
    path: /home/mckyla/.itgmania/Save
    state: directory
    owner: mckyla
    group: mckyla
    recurse: yes

- name: Check if Preferences.ini exists
  stat:
    path: /home/mckyla/.itgmania/Save/Preferences.ini
  register: preferences

- name: Set basic preferences
  lineinfile:
    path: /home/mckyla/.itgmania/Save/Preferences.ini
    line: "{{ item.key }}={{ item.value }}\r"
    insertafter: '\[Options\]'
    regexp: "^{{ item.key }}"
  with_items:
    - key: AdditionalFolders
      value: /home/mckyla/stepmania-content
    - key: Windowed
      value: "0"
    - key: SoundDrivers
      value: alsa-sw
    - key: SoundDevice
      value: "{{ audio_device }}"
    - key: SoundPreferredSampleRate
      value: "48000"
    - key: LightsDriver
      value: ""
    - key: Theme
      value: "simplylove"
    - key: DisplayWidth
      value: "1920"
    - key: DisplayHeight
      value: "1080"
    - key: DisplayAspectRatio
      value: "1.777778"
    - key: ArcadeOptionsNavigation
      value: "1"
    - key: OnlyDedicatedMenuButtons
      value: "1"
    - key: BGBrightness
      value: "0.200000"
    - key: ShowNativeLanguage
      value: "0"
    - key: MusicWheelSwitchSpeed
      value: "100"
    - key: DelayedBack
      value: "0"
    - key: PercentageScoring
      value: "1"
    - key: AutogenGroupCourses
      value: "0"
    - key: CourseSortOrder
      value: "Title" # note: only works in our custom build
    - key: DefaultModifiers
      value: "FailImmediateContinue, Overhead, Cel, C600"
    - key: Vsync
      value: "0"
    - key: InputDrivers
      value: "LinuxEvent,X11"
    - key: DisplayId
      value: "XSCREEN_RANDR"
    - key: FullscreenIsBorderlessWindow
      value: 0
  when: preferences.stat.exists

- name: Replace all instances of theme
  replace:
    path: /home/mckyla/.itgmania/Save/Preferences.ini
    replace: "Theme=simplylove"
    regexp: "^Theme=(.*)"
  when: preferences.stat.exists

## STARTUP AND DESKTOP ICONS

- name: Copy keymap template
  copy:
    src: "files/Keymaps.template.ini"
    dest: /home/mckyla/Keymaps.template.ini
    mode: 0755

- name: Copy startup script
  template:
    src: templates/start.sh
    dest: /home/mckyla/start-itgmania.sh
    mode: 0755

- name: Make sure Desktop folder exists
  file:
    path: /home/mckyla/Desktop
    owner: mckyla
    group: mckyla
    state: directory

- name: Add ITGmania icon to desktop
  copy:
    src: files/stepmania.desktop
    dest: /home/mckyla/Desktop/stepmania.desktop
    mode: 0755
    owner: mckyla
    group: mckyla

- name: Make sure Songs folder exists
  file:
    path: /home/mckyla/stepmania-content/Songs
    owner: mckyla
    group: mckyla
    state: directory

- name: Add link to Songs to Desktop
  file:
    src: /home/mckyla/stepmania-content/Songs
    dest: /home/mckyla/Desktop/Songs
    state: link
    force: yes

- name: Make sure Courses folder exists
  file:
    path: /home/mckyla/stepmania-content/Courses
    owner: mckyla
    group: mckyla
    state: directory

- name: Add link to Courses to Desktop
  file:
    src: /home/mckyla/stepmania-content/Courses
    dest: /home/mckyla/Desktop/Courses
    state: link
    force: yes

- name: Add link to Save to Desktop
  file:
    src: /home/mckyla/.itgmania/Save
    dest: /home/mckyla/Desktop/Save
    state: link
    force: yes
